.error-message {
	position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: var(--bg-color-level1);
    color: var(--text-color-level1);
    border-radius: var(--default-border-radius);
}
