.numeric-gui {
	cursor: crosshair;
}

.numeric-gui:focus {
	cursor: text;
}

.numeric-gui.nocaret:not(:disabled) {
	color: transparent;
	text-shadow: 0 0 0 var(--text-color-level0);
}

.numeric-gui.no-cursor {
	cursor: none;
}

.vector-gui {
	display: flex;
}

.boolean-gui {
	width: 16px;
	min-width: 16px;
	height: 16px;
	margin: 1px;
	display: block;
	padding: 0;
}

.boolean-gui:checked:after {
	content: ' ';
	width: 16px;
	height: 16px;
	display: block;
	background: var(--text-color-level0);
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path style="fill: none; stroke: white; stroke-width: 6px;" d="M 10 25 L 20 35 L 40 15"></path></svg>');
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path style="fill: none; stroke: white; stroke-width: 6px;" d="M 10 25 L 20 35 L 40 15"></path></svg>');
	background-size: contain;
}

.label-gui {
	display: inline-block;
	color: var(--default-button-text-color);
	padding: 0px 4px;
	user-select: text;
	-webkit-user-select: text;
}

.label-gui.label-background {
	background-color: var(--default-button-color-disabled);
}

.droppable-gui {
	height: 18px;
	margin: 1px;
	border-radius: var(--selection-border-radius);
	padding: 0px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.droppable-gui:focus:not([aria-disabled='true']) {
	box-shadow: inset 0px 0px 0 1px var(--color-selected-blue);
	outline: none;
}

.droppable-gui.empty {
	background: var(--default-input-box-color);
	box-shadow: inset 0px 0px 0px 1px var(--droppable-border-color);
}

.droppable-gui.filled {
	background: var(--droppable-filled-color);
	color: var(--droppable-filled-text-color);
}

.droppable-gui-deleted-text {
	font-style: italic;
}

.droppable-gui.dragHovering:not([aria-disabled='true']) {
	box-shadow: inset 0px 0px 0px 1px var(--color-selected-blue);
}

.droppable-gui[aria-disabled='true'] {
	background: var(--default-input-box-color-disabled);
	color: var(--default-button-text-color-disabled);
}

.path-arrow {
	background: url(../../static/icons/generic/pathArrow.svg) no-repeat center center / cover;
	width: 15px;
	padding-left: 5px;
	display: inline-block;
	position: relative;
	color: transparent;
	caret-color: var(--text-color-level0);
	user-select: initial;
}
.path-arrow::selection {
	color: transparent;
}
