.project-selector-curtain {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: var(--z-project-selector-curtain);
}

.project-selector-window {
	width: 500px;
	height: 400px;
	background-color: var(--bg-color-level0);
	position: absolute;
	z-index: var(--z-project-selector);
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: var(--default-border-radius);
	border: 1px solid var(--overlay-panel-borders-color);
	box-shadow: var(--overlay-panel-box-shadow);
	display: flex;
	flex-direction: column;
}

.project-selector-list {
	list-style: none;
	padding: 0;
}

.project-selector-header {
	height: 160px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: #ffe1d0;
	--shadow-color: #0000004a;
	text-shadow: 0 2px 3px var(--shadow-color);
	background: url(../../static/img/splash.svg) no-repeat center/cover;
}

.project-selector-logo {
	background: url(../../static/img/logo.svg) no-repeat center;
	width: 169px;
	height: 206px;
	pointer-events: none;
	filter: drop-shadow(0px 2px 3px var(--shadow-color));
}

.project-selector-title {
	align-self: center;
}

.project-selector-header .version {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px;
	font-size: 8pt;
	display: flex;
	gap: 5px;
	align-items: center;
}

.project-selector-header .version button {
	border: none;
	background-color: #9f2801d9;
	color: currentColor;
	padding: 2px 3px;
	border-radius: var(--default-border-radius);
	font-size: 10pt;
	font-family: var(--default-font-family);
}

.project-selector-header .version button:hover {
	background-color: #bd2f00d9;
}

.project-selector-header .version button:active {
	background-color: #a72a01d9;
}

.project-selector-window main {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr 6fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		". actions-list . recent-list .";
}

@media (max-width: 650px), (max-height: 500px) {
	.project-selector-window {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transform: translate(0, 0);
		border-radius: 0;
		box-shadow: none;
		border: none;
	}
}

@media (max-width: 500px) {
	.project-selector-window main {
		grid-template-columns: 1fr 6fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			". actions-list ."
			". recent-list .";
		box-sizing: border-box;
		grid-gap: 10px;
	}
}

@media (max-height: 370px), (max-width: 500px) and (max-height: 550px), (max-width: 300px) {
	.project-selector-header {
		display: none;
	}
}

.project-selector-actions-list-container {
	grid-area: actions-list;
}

.project-selector-recent-list-container {
	grid-area: recent-list;
}

.project-selector-list-container > h1 {
	font-size: 16px;
	font-weight: 200;
	margin: 0;
	margin-top: 40px;
}

.project-selector-list {
	margin: 0;
}

.project-selector-list > li {
	margin: 4px 0px;
}

.project-selector-button {
	border: none;
	background-color: transparent;
	color: var(--text-color-level0);
	width: fit-content;
	box-sizing: border-box;
	padding: 2px 3px;
	border-radius: var(--default-border-radius);
	font-size: var(--default-font-size);
	font-family: var(--default-font-family);
}
button.project-selector-button[disabled] {
	color: var(--default-text-color-disabled-context-menu);
}

.project-selector-button:hover:not([disabled]):not(:active) {
	background-color: var(--default-button-color);
	color: var(--default-button-text-color);
}

.project-selector-button:active {
	background-color: var(--default-button-active-color);
}
