dist
studio/dist/js/*
studio/deps/
*.ts
.coverage
.denoTypes
node_modules
npm_packages
deno_dir
studio/src/styles/projectSelectorStyles.js
studio/src/styles/studioStyles.js
studio/src/styles/shadowStyles.js
test/minified/out
