.studio-window-split-half {
	position: relative;
}

.studio-window-split {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
}

.studio-window-tabs {
	width: 100%;
	height: 100%;
	background: var(--bg-color-level0);
	position: absolute;
	border-radius: var(--default-border-radius);
	display: inline-block;
	overflow: hidden;
}
.studio-window-tabs:focus-within {
	box-shadow: 0px 0px 0 1px var(--focused-window-border-color);
}
.studio-window-tabs-list{
	height: 100%;
}

.studio-window-tab-button-group {
	position: absolute;
	z-index: 20;
}

.studio-window-tab-drag-overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}


.studio-window-root {
	width: calc(100% - 6px);
	height: calc(100% - 6px);
	margin: 3px;
}

.studio-content-window {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

.studio-content-window.hidden {
	display: none;
}

.studio-content-window-top-button-bar {
	width: 100%;
	z-index: 10;
	pointer-events: none;
}

.studio-content-window-top-button-bar > *:not(.studio-content-window-top-button-bar-spacer) {
	pointer-events: auto;
	margin: 5px;
}

.studio-content-window-top-button-bar-spacer {
	display: inline-block;
	vertical-align: top;
	pointer-events: none;
}

.studio-content-window-content {
	position: relative;
	flex-grow: 1;
}
.studio-content-window-content.scrollable {
	overflow: auto;
}
.studio-content-window-content.behind-top-button-bar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
