/* Styles needed for the initial page load */

body, html {
	overflow: hidden;
	position: relative;
	margin: 0;
	height: 100%;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	font-family: var(--default-font-family);
	background: var(--panel-borders-color);
	color: var(--text-color-level0);
}
