
.popover-curtain{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: var(--z-context-menu-curtain);
}

.popover {
	position: absolute;
	z-index: var(--z-context-menu);
	border-radius: var(--default-border-radius);
	background: var(--bg-color-level0);
	padding: 3px 0px;
	white-space: nowrap;
	border: 1px solid var(--overlay-panel-borders-color);
	box-shadow: var(--overlay-panel-box-shadow);
}

.popover-arrow {
	position: absolute;
	display: block;
	left: 50%;
	top: 0;
	transform: translate(-50%, -100%);
	fill: var(--bg-color-level0);
}
.popover-arrow.bottom {
	left: 50%;
	top: initial;
	bottom: 0;
	transform: translate(-50%, 100%) rotate(180deg);
}
.popover-arrow path {
	stroke: var(--overlay-panel-borders-color);
	stroke-width: 1px;
}

button.context-menu-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: none;
	padding: 2px 8px;
	background-color: transparent;
}
button.context-menu-item[disabled] {
	color: var(--default-text-color-disabled-context-menu);
}

.context-menu-item-content {
	display: flex;
	align-items: center;
	gap: 4px;
}

.context-menu-item-icon {
	width: 20px;
	height: var(--default-font-size);
	background-size: contain;
	background-repeat:no-repeat;
	vertical-align: middle;
}
.context-menu-item-icon.hidden {
	display: none;
}

span.context-menu-item-text {
	display: inline;
	font-size: var(--default-font-size);
	font-family: var(----default-font-family);
	color: var(--text-color-level0);
}

.context-menu-item:hover:not([disabled]) {
	background: var(--color-selected-blue);
	color: var(--selected-text-color);
}

.context-menu-item:hover:not([disabled]) .context-menu-item-text {
	color: var(--selected-text-color);
}

.context-menu-item > .right-arrow {
	display: inline-block;
	width: 0px;
	height: 0px;
	margin-left: 6px;
	border: 5px solid transparent;
	border-left: 10px solid var(--text-color-level0);
	border-right: 0px solid transparent;
}

.context-menu-item:hover:not([disabled]) .right-arrow {
	border-left: 10px solid var(--selected-text-color);
}

.context-menu-divider {
	background: var(--overlay-panel-borders-color);
	height: 1px;
	margin: 5px 8px;
}
