
.popover-curtain{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: var(--z-context-menu-curtain);
}

.popover {
	position: absolute;
	z-index: var(--z-context-menu);
	border-radius: var(--default-border-radius);
	background: var(--default-ui-bg-color);
	padding: 3px 0px;
	white-space: nowrap;
	border: 1px solid var(--overlay-panel-borders-color);
	box-shadow: var(--overlay-panel-box-shadow);
}

.contextMenuItem{
	padding: 1px 8px;
}
.contextMenuItemText {
	display: inline;
}
.contextMenuItemIcon {
	display: inline-block;
	width: 20px;
	height: 1em;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: text-top;
}
.contextMenuItemIcon.hidden {
	display: none;
}
.contextMenuItem.disabled{
	color: var(--default-text-color-disabled-context-menu);
}

.contextMenuItem:hover:not(.disabled){
	background: var(--color-selected-blue);
	color: var(--selected-text-color);
}

.contextMenuRightArrow{
	width: 0px;
	height: 0px;
	display: inline-block;
	border: 5px solid transparent;
	border-left: 10px solid var(--default-text-color);
	border-right: 0px solid transparent;
	margin-left: 6px;
}
.contextMenuItem:hover:not(.disabled) .contextMenuRightArrow{
	border-left: 10px solid var(--selected-text-color);
}

.contextMenuItemHorizontalLine {
	background: var(--overlay-panel-borders-color);
	height: 1px;
	margin: 5px 3px;
}
