ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.inactive {
	opacity: 0.7;
}

li.current {
	background: var(--color-selected-blue-nofocus);
	color: var(--selected-text-color-nofocus);
}

.graph {
	position: absolute;
}

circle {
	fill: var(--text-color-level0);
}
circle.current {
	fill: var(--selected-text-color-nofocus);
}

path {
	stroke: var(--text-color-level0);
	fill: none;
}
