# We use a separate workflow file for building when a commit is pushed to a PR.
# This way you don't need to wait for tests and other checks to finish before
# the PR can be deployed.

name: build-pr
on:
  pull_request:
    branches: [main]

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      build-commit-sha: ${{ github.event.pull_request.head.sha }}
