# This workflow will run all checks required for a PR to be merged.

name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  # be sure to also update these in other workflows
  DENO_DIR: deno_dir
  DENO_VERSION: "1.42.3"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: |
            deno_dir
            .denoTypes
            npm_packages
            studio/deps
          key: ci-${{ github.run_id }}_${{ github.run_attempt }}
          restore-keys: ci-

      - name: Setup Deno
        uses: denoland/setup-deno@041b854f97b325bd60e53e9dc2de9cb9f9ac0cba
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Lint
        run: deno task lint --all

  check:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: |
            deno_dir
            .denoTypes
            npm_packages
            studio/deps
          key: ci-${{ github.run_id }}_${{ github.run_attempt }}
          restore-keys: ci-

      - name: Setup Deno
        uses: denoland/setup-deno@041b854f97b325bd60e53e9dc2de9cb9f9ac0cba
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Type check
        run: deno task check

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: |
            deno_dir
            .denoTypes
            npm_packages
            studio/deps
          key: ci-${{ github.run_id }}_${{ github.run_attempt }}
          restore-keys: ci-

      - name: Setup Deno
        uses: denoland/setup-deno@041b854f97b325bd60e53e9dc2de9cb9f9ac0cba
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Run unit tests
        run: deno task test test/unit --coverage

      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          files: .coverage/cov.lcov
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
          commit_parent: ${{ github.event.pull_request.head.sha }}

  minified-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: |
            deno_dir
            .denoTypes
            npm_packages
            studio/deps
          key: ci-${{ github.run_id }}_${{ github.run_attempt }}
          restore-keys: ci-

      - name: Setup Deno
        uses: denoland/setup-deno@041b854f97b325bd60e53e9dc2de9cb9f9ac0cba
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Run minified tests
        run: deno task test test/minified

  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Setup repo
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
        with:
          path: |
            deno_dir
            .denoTypes
            npm_packages
            studio/deps
          key: ci-${{ github.run_id }}_${{ github.run_attempt }}
          restore-keys: ci-

      - name: Setup Deno
        uses: denoland/setup-deno@041b854f97b325bd60e53e9dc2de9cb9f9ac0cba
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Run e2e tests
        run: deno task test test/e2e

  build:
    if: ${{ github.event_name != 'pull_request' }}
    uses: ./.github/workflows/build.yml
